#item-spot1 {
    top: 75.6%;
    left: 19%;
}

#item-spot2 {
    top: 56.8%;
    left: 36.4%;
}

#item-spot3 {
    top: 38.1%;
    left: 53.6%;
}

#item-spot4 {
    top: 19%;
    left: 71.4%;
}

#item-spot5 {
    top: 61.4%;
    left: 48.4%;
}

#item-spot6 {
    top: 38.5%;
    left: 54.7%;
}

#item-spot7 {
    top: 14.3%;
    left: 67%;
}

#item-spot8 {
    top: 78%;
    left: 33.65%;
}

#item-spot9 {
    top: 8.5%;
    left: 16.2%;
}

/* Classes Auviliares */

.scale-2 {
    transform: scale(2);
}